{% extends "computermanagement/base.html" %}
{% load static from staticfiles %}
{% block body_block %}
        <h1>¡Nuevo Dispositivo!</h1>

        <form id="dis_form" method="post" action="/computermanagement/add_dispositivo/">
          {% load bootstrap %}

          {{ form.nombre_dispositivo|bootstrap }}
          {{ form.fabricante|bootstrap }}
          {{ form.caracteristicas|bootstrap }}



            <input type="submit" name="submit" value="Añadir" />
        </form>
  {% endblock %}
