{% extends "computermanagement/base.html" %}

{% load staticfiles %}

{% block title %}Computer Management {% endblock %}

        {% block body_block %}


    <div class="panel panel-primary">
      <div class="panel-heading">
        {% if dispositivo %}
          <h1> {{ nombre_dispositivo }} </h3>
            <br>
            <hr>

      </div>
    </div>
          <h2>Solicitantes de donacion</h2>
                  {% if donaciones %}
                    <ul class="list-group">
                        {% for d in donaciones %}
                         <li class="list-group-item"> {{d.nombre_solicitante }} ------ Direcion: {{ d.direcion }} </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong> No se han solicitado donaciones para este dispositivo </strong>
                {% endif %}
        {% else %}
        <strong>El disposito {{ nombre_dispositivo }} no existe</strong>
        {% endif %}

    <div class="panel panel-primary">

    </div>






            </div>


          </div>



        {% endblock %}
