{% extends "base.html" %}

{% load static from staticfiles %}
{% block title %}Computer Management {% endblock %}

        {% block body_block %}


    <div class="panel panel-primary">
      <div class="panel-heading">
        {% if dispositivo %}
          <h1> {{ nombre_dispositivo }} </h3>
          <h4> {{ dispositivo.fabricante }} </h4>
          <h4> {{ dispositivo.caracteristicas }} </h4>
          <a href="solicitarDonacion/"><button> Solicitar dispositivo </button></a>
          <a href="remove_dispositivo/"><button> Borrar Dispositivo </button></a>

            <br>
            <hr>

      </div>
    </div>
          <h2>Solicitantes de donacion</h2>
                  {% if donaciones %}
                    <ul class="list-group">
                        {% for d in donaciones %}
                         <li class="list-group-item"> {{d.nombre_solicitante }} Direcion: {{ d.direccion }}
                          Detalles: {{d.detalles}}
                          </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong> No se han solicitado donaciones para este dispositivo </strong>
                {% endif %}
        {% else %}
        <strong>El disposito {{ nombre_dispositivo }} no existe</strong>
        {% endif %}

    <div class="panel panel-primary">

    </div>

            </div>


          </div>



        {% endblock %}
