{% extends "computermanagement/base.html" %}

{% load staticfiles %}
{% block title %}Index{% endblock %}

        {% block body_block %}
    <div class="page-header">
                <h1>¡Bienvenido a Computer Management!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top 5 Dispositivos</h3>
        </div>
      </div>
              {% if Dispositivos %}
                    <ul class="list-group">
                        {% for d in Dispositivos %}
                         <li class="list-group-item"><a href="/computermanagement/disposito/{{ d.slug }}">{{ d.nombre_dispositivo }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No hay Dispositivos.</strong>
                {% endif %}

        {% endblock %}
