{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Index{% endblock %}

        {% block body_block %}
    <div class="page-header">
                <h1>¡Bienvenido a Computer Management!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top 5 Dispositivos</h3>
        </div>
      </div>
              {% if dispositivos %}
                    <ul class="list-group">
                        {% for dis in dispositivos %}
                         <li class="list-group-item"><a href="/dispositivo/{{ dis.nombre_slug }}">{{ dis.nombre_dispositivo  }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No hay Dispositivos.</strong>
                {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Solicitudes de recogida</h3>
                  </div>
                </div>
                        {% if solicitudes %}
                              <ul class="list-group">
                                  {% for sol in solicitudes %}
                                  <li class="list-group-item"><a href="/recogida/{{ sol.dni_donante }}">{{ sol.nombre_donante }}</a></li>
                                  {% endfor %}
                              </ul>
                          {% else %}
                              <strong>No hay Dispositivos.</strong>
                          {% endif %}

        {% endblock %}
